<div id="home_header">
    <img src="/images/SPECULO_LOGO.svg" alt="">
    <div id="hh_info">
        <span id="logout"><a href="/logout">LOGOUT</a></span>
        <h2>SPECULO</h2>
        <hr>
        <h5><%= hname %> Home</h5>
        <h6>Welcome home <%= yname %></h6>
    </div>
</div>