body{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  background: #000000;
  color:#fff;
}
.title{
  text-align: center;
  margin-bottom: 50px;
}
.quoteArea{
  width: 100%;
  height: auto;
  max-height: 300px;

  border:5px solid #fff;
  margin-bottom: 30px;
  color: #fff;
}
.text-right
{
 text-align: right;
 opacity: 0.7;
}