body
{
    background-color: black;
    color: white;
    font-family: "Roboto";
    width: 100%;
    font-weight: 400;
}
h2
{
  margin: 5px;
  padding: 10px;  
}
#list
{
	width: 300px;
	margin: 5px;
	padding: 10px;
	background: #fff;
	color: #000;
	border-radius: 5px;
}

#input
{
	width: 300px;
	margin: 5px;
    padding: 10px;
	background: #fff;
	color: #000;
	border-radius: 5px;

}

  