body
{
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 300px;
    font-weight: 400;
}
#list
{
  height: 300px;
   overflow-y:scroll; 
  -webkit-overflow-scrolling: auto;
}
/* ::-webkit-scrollbar-thumb {
} */

h2{
  margin: 20px;
}
.todo
{   
  padding: 10px;
  margin: 15px;
  background-color: #333333; 
}
.date
{
 text-align: end;
}