<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include partials/main %>
    <link rel="stylesheet" href="/style/rooms.css">
    <title><%= yname %>'s <%= room %></title>
</head>
<body>
    <div id="wrapper">
        <!-- Home Header -->
        <% include partials/header %>

        <div class="container">
            <div class="room_info_outer">
                <div class="room_icon_holder">
                    <img src="/images/icons/rooms/bedroom.svg" alt="">
                </div>
                
                <div class="room_details">
                    <span class="go_back">
                        <span><i class="fa fa-chevron-left"></i></span>
                        <span>ROOMS</span>
                    </span>
                    <h1>BEDROOM</h1>
                    <h4>ADMIN CONTROLS</h4>
                    <div class="energy_consumed"> <span> <i class="fa fa-bolt"></i> </span> 15kWh</div>
                </div>
            </div>

            <div id="meter_shell">
                <div class="meter_outer">
                    <div class="progess_data"></div>
                </div>
                <span id="power_cons"><span>3kWh</span> away from the limit</span>
            </div>

            <div class="app_outer">
                <h3>APPLIANCES</h3>
                <!-- LIGHT #1 ------------------------------------------------------------------------- -->
                <div class="app_holder">
                    <div class="each_app">
                        <div class="app_icon">
                            <img src="/images/icons/appliances/fan.svg" alt="">
                            <span>14kWh</span>
                        </div>
                        
                        <div class="app_time">
                            <%# <div class="duration_bar" id="light_1_duration"></div> %>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div> 
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        
                        <div class="app_device device">
                            <label class="switch">
                                <input id="light_1" data-href="/light/1/" type="checkbox">
                                <span class="sliderapp a round"></span>
                            </label>
                        </div>
                    </div>
                </div>

                 <!-- LIGHT #2 ------------------------------------------------------------------------- -->
                <div class="app_holder">
                    <div class="each_app">
                        <div class="app_icon">
                            <img src="/images/icons/appliances/light.svg" alt="">
                            <span>14kWh</span>
                        </div>
                        
                        <div class="app_time">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        
                        <div class="app_device device">
                            <label class="switch">
                                <input id="light_2" data-href="/light/2/" type="checkbox">
                                <span class="sliderapp a round"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <!-- AC ------------------------------------------------------------------------- -->
                <div class="app_holder">
                    <div class="each_app">
                        <div class="app_icon">
                            <img src="/images/icons/appliances/air_conditioner.svg" alt="">
                            <span>14kWh</span>
                        </div>
                        
                        <div class="app_time">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        
                        <div class="app_device device">
                            <label class="switch">
                                <input id="ac_2" data-href="/ac/1/" type="checkbox">
                                <span class="sliderapp a round"></span>
                            </label>
                        </div>
                    </div>
                    <div class="app_setting">
                        <div class="app_setting_scheduling">
                             <h5>SCHEDULE</h5>
                            <input placeholder="22:00" id="start_time" type="text">
                            <span>to</span>
                            <input placeholder="06:00" id="end_time" type="text">
                            <button id="set_ac_time"> <span> <i class="fa fa-chevron-right"></i> </span> </button>
                        </div>
                         <div class="room_temprature_settings_outer">
                            <h5>SET ROOM TEMP</h5>
                            <h2><input placeholder="22 (Degree Celcius)" type="text"></h2>
                        </div>
                        <div class="room_temprature_outer">
                            <h5>CURRENT ROOM TEMPERATURE</h5>
                            <h2><span id="room_temp">23.78</span>°C</h2>
                        </div>
                    </div>
                </div>
                <!-- END APP -->
            </div>

        </div>
    </div>
</body>
<script src="https://www.gstatic.com/firebasejs/5.9.4/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDBwvxDTX5rrC-hc9U5SmJ_mpR42dIFrg8",
    authDomain: "speculo-home-automation.firebaseapp.com",
    databaseURL: "https://speculo-home-automation.firebaseio.com",
    projectId: "speculo-home-automation",
    storageBucket: "speculo-home-automation.appspot.com",
    messagingSenderId: "923086343168"
  };
  firebase.initializeApp(config);
  var database = firebase.database();
</script>
<script src="/script/main_controller.js"></script>
<!-- REMOVE THIS LATER -->
<script>
    // setInterval(function(){
    //     $.get('/read_sensor_data', function(data){
    //         console.dir(data.temp);
    //         $('#room_temp').text(data.temp);
    //     });
    // }, 1000);
</script>
<!-- END -->
</html>