<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include partials/main %>
    <link rel="stylesheet" href="/style/rooms.css">
    <link rel="stylesheet" href="/style/garage.css">
    <title><%= yname %>'s <%= room %></title>
</head>
<body>
    <div id="wrapper">
        <!-- Home Header -->
        <% include partials/header %>

        <div class="container">
            <div class="room_info_outer">
                <div class="room_icon_holder">
                    <img src="/images/icons/rooms/garage.svg" alt="">
                </div>
                
                <div class="room_details">
                    <span class="go_back">
                        <span><i class="fa fa-chevron-left"></i></span>
                        <span>ROOMS</span>
                    </span>
                    <h1>GARAGE</h1>
                    <h4>ADMIN CONTROLS</h4>
                    <div class="energy_consumed"> <span> <i class="fa fa-bolt"></i> </span> 15kWh</div>
                </div>
            </div>

            <br><br>

            <div id="garage_control" class="apps">
              <div class="icon">
                <i class="fa fa-door-closed"></i>
              </div>
              <h5>GARAGE DOOR</h5>
              <div class="app_device device">
                <label class="switch">
                  <input id="light_1" data-href="/garage_door_state?q=" type="checkbox">
                  <span class="sliderapp a round"></span>
                </label>
              </div>
            </div>

            <div id="last_image" class="apps">
              <h3>LAST IMAGE</h3> <br>
              <img id="last_image" src="http://192.168.1.15/get_last_image" alt="">
            </div>

            <div id="garage" class="apps">
              <h3>ALLOWED NUMBER PLATES</h3> <br>
              <ul>
              </ul>
              <br>
              <input id="n1" class="np_inp" placeholder="Number Plate #1" type="text">
              <input id="n2" class="np_inp" placeholder="Number Plate #2" type="text">
              <input id="n3" class="np_inp" placeholder="Number Plate #3" type="text">
              <button id="set_np">SET</button>
            </div>

        </div>

    </div>
</body>
<script src="https://www.gstatic.com/firebasejs/5.9.4/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDBwvxDTX5rrC-hc9U5SmJ_mpR42dIFrg8",
    authDomain: "speculo-home-automation.firebaseapp.com",
    databaseURL: "https://speculo-home-automation.firebaseio.com",
    projectId: "speculo-home-automation",
    storageBucket: "speculo-home-automation.appspot.com",
    messagingSenderId: "923086343168"
  };
  firebase.initializeApp(config);
  var database = firebase.database();
</script>
<script src="/script/garage.js"></script>
</html>