<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include partials/main %>
    <link rel="stylesheet" href="/style/home.css">

    <title>Welcome home, <%= yname %></title>
</head>

<body>
    <div id="wrapper">
        <!-- Home Header -->
        <% include partials/header %>
        <!-- Home Content -->
        <div class="container" id="home_content">

            <div id="tabs_header">
                <div class="tab_button active" id="home_tab_button">HOME</div>
                <div class="tab_button" id="mirror_tab_button">MIRROR</div>
            </div>

            <!-- HOME CONTAINER -->
            <div class="_content_container" id="home_tab_container">
                <div id="selection">
                    <span>VIEW : </span>
                    <span class="option active" id="room_option">ROOM</span>
                    <span>•</span>
                    <span class="option" id="appliance_option">APPLIANCE</span>
                </div>

                <div class="inner_container" id="room_inner_container">
                    <!--------------------- CARD #1 --------------------->
                    <div class="spec_room_card" id="bedroom_room">
                        <div class="spec_room_card_header">
                            <div class="icon">
                                <img src="/images/icons/rooms/bedroom.svg" alt="">
                            </div>
                            <div class="header_info">
                                <h1>BEDROOM</h1>
                                <div class="meter_outer">
                                    <div class="progess_data"></div>
                                </div>
                                <h6><span>3kWh</span> away from the limit</h6>
                            </div>
                        </div>
                        <div class="spec_room_card_content">
                            <h6>APPLIANCES</h6>
                            <div class="spec_room_card_content_appliances">
                                <a class="icon-controller"><img src="/images/icons/appliances/lights.svg" alt=""> <input data-href="/light/1/" type="checkbox"> </a>
                                <a class="icon-controller"><img src="/images/icons/appliances/lights.svg" alt=""> <input data-href="/light/2/" type="checkbox"> </a>
                                <a class="icon-controller"><img src="/images/icons/appliances/split_ac.svg" alt=""> <input data-href="/ac/1/" type="checkbox"> </a>
                            </div>
                        </div>
                        <div class="spec_room_card_footer">
                            <div class="energy_consumed"> <span> <i class="fa fa-bolt"></i> </span> 15kWh</div>
                            <a href='/<%= username %>/home/bedroom' class="visit-room-link">VISIT ROOM</a>
                            <div class="turn_off_all"> <a href="#"> <i class="fa fa-power-off"></i> </a> </div>
                        </div>
                    </div>
                    <!--------------------- CARD #2 --------------------->
                    <div class="spec_room_card" id="garage_room">
                        <div class="spec_room_card_header">
                            <div class="icon">
                                <img src="/images/icons/rooms/garage.svg" alt="">
                            </div>
                            <div class="header_info">
                                <h1>GARAGE</h1>
                                <div class="meter_outer">
                                    <div class="progess_data"></div>
                                </div>
                                <h6><span>3kWh</span> away from the limit</h6>
                            </div>
                        </div>
                        <div class="spec_room_card_content">
                            <h6>APPLIANCES</h6>
                            <div class="spec_room_card_content_appliances">
                                <!-- NUMER PLATE -->
                                <div class="number-plate"> <div class="status">&bull;</div>&nbsp;C78096</div>
                            </div>
                        </div>
                        <div class="spec_room_card_footer">
                            <div class="energy_consumed"> <span> <i class="fa fa-bolt"></i> </span> 15kWh</div>
                            <a href='/<%= username %>/home/garage' class="visit-room-link">VISIT GARAGE</a>
                            <div class="turn_off_all"> <a href="#"> <i class="fa fa-power-off"></i> </a> </div>
                        </div>
                    </div>
                    <!-------------------------------------------------------->
                    <div class="spec_room_card" id="kitchen_room">
                        <div class="spec_room_card_header">
                            <div class="icon">
                                <img src="/images/icons/rooms/kitchen.svg" alt="">
                            </div>
                            <div class="header_info">
                                <h1>KITCHEN</h1>
                                <div class="meter_outer">
                                    <div class="progess_data"></div>
                                </div>
                                <h6><span>10kWh</span> away from the limit</h6>
                            </div>
                        </div>
                        <div class="spec_room_card_content">
                            <h6>APPLIANCES</h6>
                            <div class="spec_room_card_content_appliances">
                                <a href="#"><img src="/images/icons/appliances/lights.svg" alt=""></a>
                                <a href="#"><img src="/images/icons/appliances/washing_machine.svg" alt=""></a>
                            </div>
                        </div>
                        <div class="spec_room_card_footer">
                            <div class="energy_consumed"> <span> <i class="fa fa-bolt"></i> </span> 15kWh</div>
                            <div class="turn_off_all"> <a href="#"> <i class="fa fa-power-off"></i> </a> </div>
                        </div>
                    </div>
                </div>

                <div class="inner_container" id="appliance_inner_container">
                    <div id="appliance_inner_shell">
                        <!-- ADD CODE HERE -->
                        <div class="spec_app_card">
                            <a href="#" class="app_link">
                                <div class="spec_room_card_header">
                                    <div class="number_appliances">5</div>
                                    <div class="icon">
                                        <img src="/images/icons/appliances/light.svg" alt="">
                                    </div>
                                    <div class="header_info">
                                        <h3>LIGHTS</h3>
                                        <div class="meter_outer">
                                            <div class="progess_data"></div>
                                        </div>
                                        <span class="text_app">35kWh USED.</span>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="spec_app_card">
                            <a href="#" class="app_link">
                                <div class="spec_room_card_header">
                                    <div class="number_appliances">1</div>
                                    <div class="icon">
                                        <img src="/images/icons/appliances/washing.svg" alt="">
                                    </div>
                                    <div class="header_info">
                                        <h3>WASHING</h3>
                                        <div class="meter_outer">
                                            <div class="progess_data"></div>
                                        </div>
                                        <span class="text_app">35kWh USED.</span>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="spec_app_card">
                            <a href="#" class="app_link">
                                <div class="spec_room_card_header">
                                    <div class="number_appliances">2</div>
                                    <div class="icon">
                                        <img src="/images/icons/appliances/heater.svg" alt="">
                                    </div>
                                    <div class="header_info">
                                        <h3>HEATER</h3>
                                        <div class="meter_outer">
                                            <div class="progess_data"></div>
                                        </div>
                                        <span class="text_app">900kWh USED.</span>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="spec_app_card">
                            <a href="#" class="app_link">
                                <div class="spec_room_card_header">
                                    <div class="number_appliances">4</div>
                                    <div class="icon">
                                        <img src="/images/icons/appliances/air_conditioner.svg" alt="">
                                    </div>
                                    <div class="header_info">
                                        <h3>AC</h3>
                                        <div class="meter_outer">
                                            <div class="progess_data"></div>
                                        </div>
                                        <span class="text_app">1085kWh USED.</span>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="spec_app_card">
                            <a href="#" class="app_link">
                                <div class="spec_room_card_header">
                                    <div class="number_appliances">4</div>
                                    <div class="icon">
                                        <img src="/images/icons/appliances/fan.svg" alt="">
                                    </div>
                                    <div class="header_info">
                                        <h3>FAN</h3>
                                        <div class="meter_outer">
                                            <div class="progess_data"></div>
                                        </div>
                                        <span class="text_app">5kWh USED.</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- END -->
                    </div>
                </div>
            </div>


            <!-- MIRROR CONTAINER -->
            <div class="_content_container" id="mirror_tab_container">
                <div class="mirror_feature_outer">
                    <div class="mw_option_holder">
                        <div id="mw_time" data-id="time" data-icon="fa fa-clock" class="mw_options">
                            <i class="fa fa-clock"></i>
                            <span>TIME</span> 
                        </div>
                        <div id="mw_weather" data-id="weather" data-icon="fa fa-cloud" class="mw_options">
                            <i class="fa fa-cloud"></i>
                            <span>WEATHER</span> 
                        </div>
                        <div id="mw_date" data-id="date" data-icon="fa fa-calendar" class="mw_options">
                            <i class="fa fa-calendar"></i>
                            <span>DATE</span> 
                        </div>
                        <div id="mw_cal" data-id="calendar" data-icon="fa fa-calendar" class="mw_options">
                            <i class="fa fa-calendar"></i>
                            <span>CALENDAR</span> 
                        </div>
                        <div id="mw_todo" data-id="todo" data-icon="fa fa-list" class="mw_options">
                            <i class="fa fa-list"></i>
                            <span>TODO</span> 
                        </div>
                        <div id="mw_news" data-id="todo" data-icon="fa fa-list" class="mw_options">
                            <i class="fa fa-newspaper"></i>
                            <span>NEWS</span> 
                        </div>
                    </div>

                    <div class="mw_display">

                        <div class="mw_right mw_sides">
                            <h5>RIGHT</h5>
                            <ul class="mw_list" id="mw_right_list">

                            </ul>
                        </div>

                        <div class="mw_left mw_sides">
                            <h5>LEFT</h5>
                            <ul class="mw_list" id="mw_left_list">

                            </ul>
                        </div>
                    </div>
                    <div>
                        <a href="" id="reset_widgets">RESET</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="http://code.jquery.com/ui/1.8.21/jquery-ui.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.9.4/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDBwvxDTX5rrC-hc9U5SmJ_mpR42dIFrg8",
    authDomain: "speculo-home-automation.firebaseapp.com",
    databaseURL: "https://speculo-home-automation.firebaseio.com",
    projectId: "speculo-home-automation",
    storageBucket: "speculo-home-automation.appspot.com",
    messagingSenderId: "923086343168"
  };
  firebase.initializeApp(config);
  var database = firebase.database();
</script>
<script src="/script/home.js"></script> 
<script src="/script/main_controller.js"></script>
<script src="/script/plugin/jq-ui-touch.js"></script>
</html>