<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- FONTS -->
    <!-- IBM Plex Mono -->
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,300,400,500,700" rel="stylesheet">

    <!-- CSS -->
    <!-- Main Styles -->
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/onlyMobile.css">

    <title>Register Page</title>
</head>

<body>
    <div id="wrapper">
        <img src="/images/only_mobile_gif.gif" alt="">
        <h4>This web app is only available on mobile</h4>
    </div>
</body>

</html>