<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include partials/main %>
    <title>Register Page</title>
</head>

<body>
    <div id="wrapper">
        <div class="lr_header" style="background-image:url('/images/lr_header_1.gif');"></div>
        <div class="lr_outer">
            <img src="/images/SPECULO_LOGO.svg" class="logo_sm">
            <div class="lr_shell">
                <form>
                    <input placeholder="HOUSE NAME" name="hname" type="text">
                    <input placeholder="YOUR NAME" name="yname" type="password">
                    <input placeholder="USERNAME" name="username" type="text">
                    <input placeholder="PASSWORD" name="password" type="password">
                    <input placeholder="MOBILE NUMBER" name="mnumber" type="password">
                    <div class="lr_footer">
                        <a href="/login">LOGIN</a>
                        <button class="lr_button">REGISTER</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>