body {
	margin: 0px;
	margin-top: 50px;
}

path {
	stroke-width: 1px;
}

.domain {
	display: none;
}

.tick line {
	stroke: #c0c0bb;
	stroke-width: 0.5px;
}

.tick text {
	fill: #8e8883;
	font-size: 10pt;
	font-family: sans-serif;
}

.axis-label {
	fill: #635f5d;
	font-size: 20pt;
	font-family: sans-serif;
}
